*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cards{
    display: flex;
    gap: 20px;
}
.front p{
    color: gray;
}
.front ul{
    display: flex;
}
.front li{
    list-style: none;
    padding: 0 1.5rem;
}
.card {
  width: 300px;
  height: 350px;
  position: relative;
  overflow: hidden;
  background-color: #FFFCDE;
  margin: 100px auto ;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.6s ease;
}


.card .front {
  position: absolute;
  bottom: 2px;
  left: 20px;
  opacity: 0;
  transition: 0.6s ease;
  color: black;
  text-align: center;
}

.card:hover img {
  transform: scale(0.5) translateY(-30px);
  
}

.card:hover .front {
  opacity: 1;
}


